$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;

//
// Variables
// --------------------------------------------------


$gray: #E7E7E7;
$black: #404040;
$white: #fff;
$red: #B23837;
