@import "_variables";

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,100,200,300,500,600,700);

section {
    min-height: 500px;
}

div#cabecalho {
    background-color: $black;
    color: $white;
    min-height: 100px;
}

div#video {
    background-color: $white;
}

section#info {
    background-color: $red;
    color: $white;
}

section#rodape {
    background-color: #ccc;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.txt-gray {
    color: $gray;
}

.txt-black {
    color: $black;
}

.bg-gray {
    background-color: $gray;
}

.bg-red {
    background-color: $red;
}

.bg-black {
    background-color: $black;
}

.ion-2x {
    font-size: 20px;
}

.ion-3x {
    font-size: 30px;
}

.ion-4x {
    font-size: 40px;
}

.ion-5x {
    font-size: 50px;
}

.ion-6x {
    font-size: 60px;
}

.progress {
    margin-top: 15px;
    height: 40px !important;
}