<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="header">
                <div class="inner">
                    <h1 class="title"><a href="#" class="to-top">{{ index.title }}</a></h1>
                    <nav id="navbar">
                        <a href="#link">{{ index.message }}</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
