<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, modi quibusdam! Nihil rem ad ipsa aut facere quo commodi officia corporis praesentium reprehenderit debitis modi ullam culpa iure, possimus, accusamus dignissimos libero non molestiae quia. Commodi id iure, ipsa nisi omnis, ipsum sequi. Obcaecati, ut quisquam, eos perspiciatis odio officia.
                <i class="icon ion-home large green"></i>
            </div>
        </div>
    </div>
</section>
