<section id="video" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-centered">
                <form>
                    <div class="row">
                        <label class="label-control">Email:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row">
                        <label class="label-control">Senha:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
