<section id="patrocinadores" class="bg-red">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img data-src="holder.js/224x200" class="">
                <img data-src="holder.js/224x200" class="">
                <img data-src="holder.js/224x200" class="">
                <img data-src="holder.js/224x200" class="">
                <img data-src="holder.js/224x200" class="">
            </div>
        </div>
    </div>
</section>
