<section id="publicidade-maior" class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img data-src="holder.js/100%x150" class="">
            </div>
        </div>
    </div>
</section>
